@import './new.scss';

footer {
	border-top: 1px solid var(--nc-bg-3);
	padding: 1rem 0;
	margin-top: 2rem;

	display: flex;
	justify-content: space-between;

	a {
		padding: .5rem;
	}
}

.anchor {
	position: absolute;
	padding: 0 .5em;
	transform: translateX(-100%);
	opacity: 0;
	text-decoration: none;
	
	&::before {
		content: '§';
	}
}

*:hover > .anchor {
	opacity: 1;
	display: block;
}
